
.todo {
  width: 700px;
  height: auto;
  padding: 0 0 12px;
  overflow: hidden;
}

.actionbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.searchbar {
  flex: 2;
}

.searchbar input {
  width: 100%;
  padding: 12px 0;
  border: 1px solid silver;
}

.addbutton {
  flex: 1;
}

.addbutton button {
  width: auto;
  background-color: rgb(30, 22, 177);
  padding: 12px;
  cursor: pointer;
  color: white;

}

.result {
  width: 100%;
}

.result_list {
  width: 75%;
  list-style-type: none;
  margin: 22px 0;
  padding: 0;
}

.result_list li {
  padding: 6px;
  background-color: rgb(96, 92, 92);
  color: white;
  margin: 4px 0;
}
