.btn {
    width: 220px;
    border: none;
    background-color: rgba(0, 128, 0, 0.772);
    color: white;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.with-id {
    // margin: 0 12px;
    background-color: blue;
}

.with-query {
    margin: 0 12px;
    background-color: rgb(255, 21, 0);
}


.btn:hover {
    opacity: 0.6;

}

.form-control {
    width: 427px;
    padding: 12px;
    background: none;
    border:1px solid green;
    margin: 0 0 12px;
}