<div class="form">
    <div class="user-info">
      <div class="column">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" [value]="user.userName">
      </div>
      <div class="column">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [value]="user.email">
      </div>
    </div>
   <div class="divider"></div>
    <div class="acct-info">
      <div class="column">
        <label for="accttype">Account Type</label>
        <input type="text" class="form-control" id="accttype" [value]="user.acctType">
      </div>
      <div class="column">
        <label for="acctno">Account Number</label>
        <input type="text" class="form-control" id="acctno">
      </div>
    </div>
    <div class="card-info">
      <div class="column">
        <label for="cardtype">Card Type</label>
        <input type="text" class="form-control" id="cardtype">
      </div>
      <div class="column">
        <label for="cardno">Card Number</label>
        <input type="text" class="form-control" id="cardno">
      </div>
    </div>
    <div class="buttons">
      <button class="btn primary">Save</button>
      <button class="btn danger">Delete</button>
    </div>
  </div>