.header, .main {
    width: 1200px;
    margin: 0 auto;
    padding: 12px;
    background-color: black;
    margin-bottom: 20px;
}

.main {
    background-color: rgb(171, 178, 178);
}

.menu {
    width: 100%;
}

ul {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    list-style-type: none;
}
ul li {
    padding: 6px;
    background-color: green;
    border-radius: 2px;
}
ul li a {
 color: white;
 font-size: 25px;
 cursor: pointer;
}

ul li a:hover {
    color: red;
}