<pre>
  <h2>
    1. გვაქვს ორი ინფუთი (Iput 1, Iput 2), სანამ ორივეში რამეს არ ჩავწერ მანამდე არ გააქტიურდეს Iput 3
    2. Iput 2 ან Iput 3 ში ჩაწერილი მნიძვნელობა უდრის 5 ს მაშინ Iput 1 შიც ჩაიწეროს 5
    3. თუ მეორე ინფუთში ჩავწერ სტრინგს დადიზეიბლდეს Iput 3
    4. სანამ სამივე ჩეკბოქს არ მოვნიშნავ მანამდე არ გააქტიურდეს Submuit ღილაკი

    5. გვაქვს dropdow და ვირჩევთ ქალაქებს, ბათონ Submuit ზე დაჭერის შემდეგ input 3 ში უნდა ჩაიწეროს არჩეული ქალაქი

    6. თუ არჩეული ქალაქი არის Tbilisi, მაშინ Checkbox 1 ამოინიშნოს თუ მონიშნულია და მოინიშნოს თუ ამონიშნულია

  </h2>
</pre>

<div class="form" [formGroup]="valuesForm">
  <div class="inputs">
    <div>
      <label>Iput 1</label>
      <input type="text" class="form-control" formControlName="value1">
    </div>

    <label>Iput 2</label>
    <input type="text" class="form-control" formControlName="value2">


    <label>Iput 3</label>
    <input type="text" class="form-control" formControlName="value3" [disabled]="!value3?.valid">


    <label>Dropdown</label>
    <select class="form-control select" formControlName="dropdown">
      <option value="TB">Tbilisi</option>
      <option value="QT">Qutaisi</option>
      <option value="BT">Batumi</option>
    </select>
  </div>

  <div class="radios">
    <div class="radio">
      <label>Checkbox 1</label>
      <input type="checkbox" class="radio-control" name="radio-control" [checked]="checkbox1" #chk1>
    </div>
    <div class="radio">
      <label>Checkbox 2</label>
      <input type="checkbox" class="radio-control" name="radio-control" [checked]="checkbox2" #chk2>
    </div>
    <div class="radio">
      <label>Checkbox3</label>
      <input type="checkbox" class="radio-control" name="radio-control" [checked]="checkbox3" #chk3>
    </div>

  </div>
  <button class="submit" [disabled]="!(chk3.checked && chk2.checked && chk1.checked)" (click)="onSubmit()">SUBMIT</button>
</div>
