<h2>საშინაო დავალება</h2>
<p class="e_header">
  მოცემულია იუზერის ფორმა სადაც უნდა მოახდინოთ შემდეგი დავალებების შესრულება
</p>
<ol class="list">
  <li>
    ქალაქი დროპდაუნის გადარჩევის შემდეგ < span class="city" > ელემენტში უნდა ჩაიწეროს
    არჩეული ქალაქი
  </li>
  <li>
    სურათზე მარჯვენა მხარეს არსებულ angle-right ღილაკზე დაჭერის შემდეგ უნდა შეიცვალოს
    სურათი რანდომად (რამდენიც გინდათ იმდენი სურათი აიღეთ)
  </li>
  <li>
    რეგისტრაცია ბათონი უნდა იყოს disabled თუ ვეთანხმები პირობებს არ მოვნიშნავ,
    და თუ მოვნიშნავ მაშინ გააქტიურდეს  რეგისტრაცია ბათონი
  </li>
</ol>
<div class="form">
  <div class="cities">
    <label>ქალაქი</label>
    <select (change)="onCitiesDropdownChange($event)">
      <option *ngFor="let city of cities">{{city}}</option>
    </select>
    <span class="city" style="margin-left: 10px">selected city: {{selectedCity}}</span>
  </div>
  <div class="images">
    <img src="{{getImageUrl()}}">
    <div class="next" >
      <button (click)="changePicture()" >
        <i class="fa fa-angle-right" ></i>
      </button>
    </div>
  </div>
  <div class="accept">
    <p>ვეთანხმები პირობებს</p>
    <input type="checkbox" (change)="onAgreeOnTerms()">
  </div>
  <div class="submit" >
    <button [disabled] = "!agreeOnTerms" (click)="finish()">რეგისტრაცია</button>
  </div>

</div>
