
.list {
    width: 100%;
    padding: 12px 0;
    
  }
  
  .list table {
    width: 100%
  }
  
  .list table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid green;
    padding: 12px;
  
  }